<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

    <title>Curriculum Visit</title>
    <script>(function(w, d) { w.CollectId = "670f095848b2ba247e87efcb"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
</head>
<body>
    <h1>Bienvenidos a nuestra pagina </h1>
    <h2>Te presentamos los candidatos para desarrollador Senior </h2>

    <!--incluir el archivo javascript del cliente -->
    <script src="/js/script.js"></script>
    
    <!--Tarjetas de presentaci贸n-->


  <div class="card-container">
    <!-- Tarjeta de Rub茅n -->
    <div class="card">
      <img src="/images/Rus.jpeg" alt="Foto de Rub茅n">
      <div class="card-content">
        <h3 class="card-title">Rub茅n</h3>
        <p class="card-description">Tec en asistente desarrollo de software</p>
        <a href="https://github.com/russven" class="card-button">Ver perfil</a>
      </div>
    </div>
  
    <!-- Tarjeta de lvaro -->
    <div class="card">
      <img src="/images/Alvaritop.png" alt="Foto de lvaro">
      <div class="card-content">
        <h3 class="card-title">lvaro</h3>
        <p class="card-description">Profesional de ingenieria industrial con experiencia en el sector tecnol贸gico, plataformas de gestion, Microsoft Office 365, manejo de indicadores de gesti贸n, coordinaci贸n de proyectos, manejo de inventario y manejo de personal.</p>
        <a href="https://github.com/AJ9918" class="card-button">Ver perfil</a>
      </div>
    </div>
  
    <!-- Tarjeta de Valentina -->
    <div class="card">
      <img src="/images/Valen.png" alt="Foto de Valentina" class="cardfoto">
      <div class="card-content">
        <h3 class="card-title">Valentina</h3>
        <p class="card-description">Tec laboral en asistente en programacion de software</p>
        <a href="https://github.com/valila2" class="card-button">Ver perfil</a>
      </div>
    </div>
  </div>
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <p  class="visit-counter"   >Eres la visita numero: <%= visitCount %> </p>
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      漏 2024 Copyright PIO: (CEO)s LENTECH 
      <a class="text-body" </a>
    </div>
    <!-- Copyright -->
  </footer>  
</body>
</html>